<section class="block block--dark block--skewed-right block-showcase">
        <header class="block__header">
            <h2>User-friendly Control Panel</h2>
        </header>
        <div class="container grid grid--cols-2">
            <picture class="block-showcase__image">
                <source src="image/webp" srcset="images/ipad.webp 1x, images/ipad@2x.webp 2x">
                <source src="image/png" srcset="images/ipad.png 1x, images/ipad@2x.png 2x">
                <img src="images/ipad@2x.png" alt="">
            </picture>
    <ul class="list">
        <li>
            <div class="media media--showcase">
                    <div class="media__image">
                        <svg class="icon icon--primary">
                        <use xlink:href="images/sprite.svg#snap"></use>
                        </svg>
                    </div>
                    <div class="media__body">
                        <h3 class="media__title block__heading">Easy Start & Managed Updates</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod reiciendis animi, nesciunt ratione deleniti ut tenetur eveniet libero? Numquam, saepe?</p>
                    </div>
            </div>
        </li>
        <li>
            <div class="media media--showcase">
                    <div class="media__image">
                        <svg class="icon icon--primary">
                        <use xlink:href="images/sprite.svg#growth"></use>
                        </svg>
                    </div>
                    <div class="media__body">
                        <h3 class="media__title block__heading">Staging, GIT 6 WP-CLI</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod reiciendis animi, nesciunt ratione deleniti ut tenetur eveniet libero? Numquam, saepe?</p>
                    </div>
            </div>
        </li>
        <li>
            <div class="media media--showcase">
                    <div class="media__image">
                        <svg class="icon icon--primary">
                        <use xlink:href="images/sprite.svg#wordpress"></use>
                        </svg>
                    </div>
                    <div class="media__body">
                        <h3 class="media__title block__heading">Dynamic Caching & More</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod reiciendis animi, nesciunt ratione deleniti ut tenetur eveniet libero? Numquam, saepe?</p>
                    </div>
            </div>
        </li>
    </ul>            
        </div>
    </section>